site_name: Portfolio de Luc NICOLAS
theme:
  name: material
  language: fr
  palette:
    primary: green
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.tabs
    - navigation.top

copyright: Copyright &copy; 2023 Luc NICOLAS 
  <div style="margin-left:50px;display:inline-block;">Contactez-moi:</div>
  <a style="margin-left:5px" href="https://www.linkedin.com/in/luc-nicolas/" target=”_blank”><img src="/portfolio/img/linkedin.png" alt="linkedin.png" width="25" height="25" align="center"/></a>
  <a style="margin-left:5px" href="https://github.com/lucnicolas/" target=”_blank”><img src="/portfolio/img/github.png" alt="github.png" width="25" height="25" align="center"/></a>
  <a style="margin-left:5px" href="mailto:l.nicolas@groupe-aen.info" target=”_blank”><img src="/portfolio/img/mail.png" alt="mail.png" width="28" height="28" align="center"/></a>

extra:
  generator: false
  social:
    - icon: fontawesome/solid/paper-plane
      link: mailto:l.nicolas@groupe-aen.info
      name: Contactez-moi

plugins:
  - search
  - tags

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 2
  - tables
  - attr_list
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde


